{% if template == 'product' and product.vendor == 'zestard-easy-donation' %} 
<div class='donation' id='zeCoHSLZa3Pu6' page='product' productid='{{ product.id }}'>
	<div class='donation_loader'>
		<img width='130' height='130' src='https://zestardshop.com/shopifyapp/easy_donation/public/image/loader_new.svg'/>
	</div>
</div>
{% endif %}
{% if template == 'cart' %}
<div class='donation' id='zeCoHSLZa3Pu6' page='cart'>
	<div class='donation_loader'>
		<img width='130' height='130' src='https://zestardshop.com/shopifyapp/easy_donation/public/image/loader_new.svg'/>
	</div>
</div>
{% endif %}<script src="https://zestardshop.com/shopifyapp/easy_donation/public/js/donation.js"></script>
