<div class="sub-menu ">
    <div class="rf-wrapper">
        <div class="sub-menu-inner ">
        {%- for link in linklists.main-menu.links -%}
                {%- if link.links != blank -%}
                <ul class="child-wrap {{ link.title | handleize }}" data-filter="{{ link.title | handleize }}">
                    {%- for child_link in link.links -%}
                    <li>
                        <a href="{{ child_link.url }}" {% if child_link.active %}aria-current="page"{% endif %}>
                        {{ child_link.title }}
                        </a>
                    </li>
                    {%- endfor -%}
                </ul>
                {%- endif -%}
        {%- endfor -%}
        </div>
    </div>
</div>