$yellow: #fdd72b;
$green: #BFDFD2;
$red: #eb5d42;
$blue: #0792d1;

$grey: #ABABAB;
$grey-2:#d8d8d8;
$rams: #efefec;
$darkBlue: #094E83;

$black: #333;

$tiny: 12px;
$small: 16px;
$medium: 20px;
$large: 32px;
$massive : 50px;

$break-m: 749px;