

{% schema %}
  {
    "name": "Bottom Filter",
    "class": "filters",
    "settings": [
      {
        "type": "checkbox",
        "id": "display",
        "label": "display bottom filter",
        "default": false
      }
    ]
  }
{% endschema %}

{% if section.settings.display %}
  


<div class="rf-filters-wrapper">
  <div class="rf-columns-container">
    <div class="rf-wrapper products-wrapper">
      <div class="rf-filters-header">
        <h1><svg width="55" height="45" viewBox="0 0 55 45" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M37.086 19.5c0 9.713-7.873 17.586-17.586 17.586-9.713 0-17.586-7.873-17.586-17.586 0-9.713 7.873-17.586 17.586-17.586 9.713 0 17.586 7.873 17.586 17.586" fill="#F4CD0C"/><path d="M37.086 19.5c0 9.713-7.873 17.586-17.586 17.586-9.713 0-17.586-7.873-17.586-17.586 0-9.713 7.873-17.586 17.586-17.586 9.713 0 17.586 7.873 17.586 17.586z" stroke="#1D1D1B" stroke-width="2"/><path d="M19.5 2.827c-9.193 0-16.673 7.48-16.673 16.673 0 9.193 7.48 16.673 16.673 16.673 9.193 0 16.673-7.48 16.673-16.673 0-9.194-7.48-16.673-16.673-16.673M19.5 38C9.299 38 1 29.701 1 19.5 1 9.3 9.299 1 19.5 1S38 9.3 38 19.5C38 29.701 29.701 38 19.5 38" fill="#000"/><path d="M19.5 2.827c-9.193 0-16.673 7.48-16.673 16.673 0 9.193 7.48 16.673 16.673 16.673 9.193 0 16.673-7.48 16.673-16.673 0-9.194-7.48-16.673-16.673-16.673zM19.5 38C9.299 38 1 29.701 1 19.5 1 9.3 9.299 1 19.5 1S38 9.3 38 19.5C38 29.701 29.701 38 19.5 38z" stroke="#1D1D1B" stroke-width="2"/><path d="M36 31l16 11" stroke="#1D1D1B" stroke-width="6" stroke-linecap="round"/></g></svg> Find the perfect print to match your style</h1>
        <div class="arrow">
          <svg width="38" height="18" viewBox="0 0 38 18" xmlns="http://www.w3.org/2000/svg"><path stroke="#1D1D1B" stroke-width="6" d="M35 3L19 14 3 3" fill="none" fill-rule="evenodd" stroke-linecap="round"/></svg>
        </div>
      </div>
      <div class="rf-columns filters">
        <div class="rf-col">
            <h2 class="rf-theme-header">Theme</h2>
            <ul>
                <a href="/collections/all/beach"><li class="selector" data-click="Beach">Beach</li></a>
                <a href="/collections/all/food-&-drink"><li class="selector" data-click="Food & Drink">Food & Drink</li></a>
                <a href="/collections/all/landscape"><li class="selector" data-click="Landscape">Landscape</li></a>
                <a href="/collections/all/animals"><li class="selector" data-click="Animals">Animals</li></a>
                <a href="/collections/all/people"><li class="selector" data-click="People">People</li></a>
                <a href="/collections/all/naive"><li class="selector" data-click="Naïve">Naïve</li></a>
                <a href="/collections/all/funny"><li class="selector" data-click="Funny">Funny</li></a>
                <a href="/collections/all/ooh-la-la"><li class="selector" data-click="Ooh La La">Ooh La La</li></a>
            </ul>
        </div>
        <div class="rf-col">
            <h2 class="rf-theme-header">Style</h2>
            <ul>
                <a href="/collections/all/graphic"><li class="selector" data-click="Graphic">Graphic</li></a>
                <a href="/collections/all/typography"><li class="selector" data-click="Typography">Typography</li></a>
                <a href="/collections/all/abstract"><li class="selector" data-click="Abstract">Abstract</li></a>
                <a href="/collections/all/hand-drawn"><li class="selector" data-click="Hand drawn">Hand drawn</li></a>
                <a href="/collections/all/illustrative"><li class="selector" data-click="Illustrative">Illustrative</li></a>
                <a href="/collections/all/street-art"><li class="selector" data-click="Street art">Street art</li></a>
                <a href="/collections/all/minimal"><li class="selector" data-click="Minimal">Minimal</li></a>
                <a href="/collections/all/colourful"><li class="selector" data-click="Colourful">Colourful</li></a>
                <a href="/collections/all/patterns"><li class="selector" data-click="Patterns">Patterns</li></a>
                <a href="/collections/all/monotone"><li class="selector" data-click="Monotone">Monotone</li></a>
                <a href="/collections/all/painting"><li class="selector" data-click="Painting">Painting</li></a>
                <a href="/collections/all/line-drawing"><li class="selector" data-click="Line drawing">Line drawing</li></a>
            </ul>
        </div>
        <div class="rf-col">
            <h2 class="rf-theme-header">Colour</h2>
            <ul>
                <a href="/collections/all/red"><li class="selector" data-click="Red">Red</li></a>
                <a href="/collections/all/blue"><li class="selector" data-click="Blue">Blue</li></a>
                <a href="/collections/all/yellow"><li class="selector" data-click="Yellow">Yellow</li></a>
                <a href="/collections/all/green"><li class="selector" data-click="Green">Green</li></a>
                <a href="/collections/all/pink"><li class="selector" data-click="Pink">Pink</li></a>
                <a href="/collections/all/orange"><li class="selector" data-click="Orange">Orange</li></a>
                <a href="/collections/all/black"><li class="selector" data-click="Black">Black</li></a>
                <a href="/collections/all/purple"><li class="selector" data-click="Purple">Purple</li></a>
            </ul>
        </div>
        <div class="rf-col">
            <h2 class="rf-theme-header">Space</h2>
            <ul>
                <a href="/collections/all/living-room"><li class="selector" data-click="Living Room">Living Room</li></a>
                <a href="/collections/all/office"><li class="selector" data-click="Office">Office</li></a>
                <a href="/collections/all/studio"><li class="selector" data-click="Studio">Studio</li></a>
                <a href="/collections/all/bathroom"><li class="selector" data-click="Bathroom">Bathroom</li></a>
                <a href="/collections/all/bedroom"><li class="selector" data-click="Bedroom">Bedroom</li></a>
                <a href="/collections/all/kids-room"><li class="selector" data-click="Kids room">Kids room</li></a>
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>


{% endif %}