<div class="rf-columns-container values">
  <div class="rf-wrapper">
      <div class="rf-columns">
            <div class="rf-col">
                <h1>Our prints are</h1>
            </div>
            <div class="rf-col">
                <div class="values-icon"><svg width="91" height="92" viewBox="0 0 91 92" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path id="a" d="M0 0h90.68v45.34H0z"/></defs><g fill="none" fill-rule="evenodd"><path d="M2.239 46.09c0-23.804 19.297-43.101 43.101-43.101 23.803 0 43.1 19.297 43.1 43.1" fill="#F4CD0C"/><g transform="translate(0 .75)"><mask id="b" fill="#fff"><use xlink:href="#a"/></mask><path d="M86.201 45.34c0-22.531-18.33-40.862-40.862-40.862-22.53 0-40.862 18.33-40.862 40.862M0 45.34C0 20.339 20.34 0 45.34 0c25 0 45.34 20.339 45.34 45.34" fill="#000" mask="url(#b)"/></g><path d="M88.44 46.65c0 2.03-.14 4.028-.412 5.984" stroke="#000" stroke-width="4" stroke-linecap="round"/><path d="M85.056 63.42C78.514 78.893 63.195 89.75 45.34 89.75c-19.827 0-36.528-13.388-41.555-31.618" stroke="#000" stroke-width="4" stroke-linecap="round" stroke-dasharray="11.215,11.215"/><path d="M2.651 52.635a43.593 43.593 0 0 1-.412-5.985" stroke="#000" stroke-width="4" stroke-linecap="round"/></g></svg></div>
                <h2>Affordable</h2>
                <p>Museum-standard prints starting at just £20.</p>
            </div>
            <div class="rf-col">
                <div class="values-icon"><svg width="114" height="101" viewBox="0 0 114 101" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path fill="#FFF" d="M46.777 54.75l-45.845 14 71.094 30 41.194-15z"/><path d="M6.593 69.062L72.05 96.683l35.998-13.108L46.72 56.808 6.593 69.062zm65.744 31.632l-.671-.018-71.094-30 .095-3.886 45.845-14 .635.039 66.443 29-.058 3.865-41.195 15z" fill="#000"/><path fill="#FFF" d="M46.777 37.416l-45.845 14 71.094 30 41.194-15z"/><path d="M6.593 51.728L72.05 79.35l35.998-13.108L46.72 39.476 6.593 51.729zM72.337 83.36l-.671-.017-71.094-30 .095-3.886 45.845-14 .635.039 66.443 29-.058 3.865-41.195 15z" fill="#000"/><path fill="#F4CD0C" d="M46.777 20.084l-45.845 14 71.094 30 41.194-15z"/><path d="M6.593 34.395L72.05 62.016l35.998-13.108L46.72 22.141 6.593 34.397zm65.744 31.632l-.671-.017-71.094-30 .095-3.886 45.845-14 .635.039 66.443 29-.058 3.865-41.195 15z" fill="#000"/><path fill="#FFF" d="M46.777 2.75l-45.845 14 71.094 30 41.194-15z"/><path d="M6.593 17.062L72.05 44.683l35.998-13.108L46.72 4.808 6.593 17.062zm65.744 31.632l-.671-.018-71.094-30 .095-3.886 45.845-14 .635.039 66.443 29-.058 3.865-41.195 15z" fill="#000"/></g></svg></div>
                <h2>Unique</h2>
                <p>Our prints are all exclusive to RoomFifty and created by 50 of the most exciting artists working today.</p>
            </div>
            <div class="rf-col">
                <div class="values-icon"><svg width="76" height="114" viewBox="0 0 76 114" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path fill="#FFF" d="M2.663 99.319h70.674V2.513H2.663z"/><path d="M2.663 1L1 2.512V99.32l1.663 1.513h70.673L75 99.32V2.512L73.336 1H2.663zm1.662 96.807h67.348V4.025H4.325v93.782z" stroke="#000" stroke-width=".5" fill="#000"/><path fill="#FFF" d="M57.723 87.87v24.184l-7.007-6.78.904.226-7.006 6.78V88.096"/><path fill="#000" d="M56.21 87.87v20.615l-4.09-3.958-.133-.495-.904-.226-.402.724-.113-.117-4.442 4.298V88.097h-3.024v24.183l2.564 1.087 5.618-5.438 5.388 5.212 2.563-1.087V87.87z"/><path d="M61.504 78.899c0 5.848-4.74 10.588-10.588 10.588-5.848 0-10.588-4.74-10.588-10.588 0-5.848 4.74-10.588 10.588-10.588 5.848 0 10.588 4.74 10.588 10.588" fill="#F4CD0C"/><path d="M50.916 69.823c-5.004 0-9.075 4.072-9.075 9.076 0 5.004 4.07 9.075 9.075 9.075 5.005 0 9.076-4.07 9.076-9.075 0-5.004-4.071-9.076-9.076-9.076m0 21.177c-6.672 0-12.101-5.429-12.101-12.1 0-6.674 5.429-12.102 12.1-12.102 6.673 0 12.102 5.428 12.102 12.101 0 6.672-5.43 12.101-12.101 12.101" fill="#000"/></g></svg></div>
                <h2>High-quality</h2>
                <p>Printed on premium, heavyweight art paper, we use professional, fade-resistant inks to create beautiful prints with incredibly fine detail.</p>
            </div>
            <div class="rf-col">
                <div class="values-icon"><svg width="82" height="108" viewBox="0 0 82 108" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M79.84 54c0 21.263-17.237 38.5-38.5 38.5S2.84 75.263 2.84 54s17.237-38.5 38.5-38.5 38.5 17.237 38.5 38.5" fill="#F4CD0C"/><path d="M41.34 17.5c-20.126 0-36.5 16.374-36.5 36.5s16.374 36.5 36.5 36.5 36.5-16.374 36.5-36.5-16.374-36.5-36.5-36.5m0 77C19.008 94.5.84 76.332.84 54s18.168-40.5 40.5-40.5 40.5 18.168 40.5 40.5-18.168 40.5-40.5 40.5M41.34 10a2 2 0 0 1-2-2V2a2 2 0 0 1 4 0v6a2 2 0 0 1-2 2" fill="#000"/><path d="M41.34 36.286a2 2 0 0 1-2-2V21.143a2 2 0 0 1 4 0v13.143a2 2 0 0 1-2 2m0 26.286a2 2 0 0 1-2-2V47.43a2 2 0 0 1 4 0v13.143a2 2 0 0 1-2 2m0 26.285a2 2 0 0 1-2-2V73.714a2 2 0 0 1 4 0v13.143a2 2 0 0 1-2 2M41.34 108a2 2 0 0 1-2-2v-6a2 2 0 0 1 4 0v6a2 2 0 0 1-2 2" fill="#000"/></g></svg></div>
                <h2>Ethical</h2>
                <p>As well as 50% of profit going directly to the artist, we ensure that we have a diverse and fair roster of artists.</p>
            </div>
        </div>
      </div>
</div>
