<!-- /templates/about.page.liquid -->
<div class="rf-wrapper">
  {{ page.content }}
</div>
<div class="rf-wrapper enter">
  {{page.description}}
  <div class="rf-button">
    Enter now
  </div>
</div>
