<!-- /templates/about.page.liquid -->
<div class="yuc-header">
  <div class="rf-wrapper">
    <h1>Young Upstart Awards</h1>
  </div>
</div>
<div class="rf-wrapper">
  {{ page.content }}
</div>
<div class="rf-wrapper enter">
  {{page.description}}
  <div class="rf-button">
    Enter now
  </div>
</div>
