{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}

{% comment %} {% section 'product-template' %} {% endcomment %}
{% section 'giftcard-template' %}

<div class="rf-wrapper reccomended-wrapper">
  {% section 'product-recommendations' %}
</div>
{% section 'values' %} 
