{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}

{% section 'product-template' %}

<div class="rf-wrapper reccomended-wrapper">
  {% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: false, product: product %}
</div>

  {% include 'rf-colours' %}

<div class="rf-wrapper reccomended-wrapper">
  {% section 'product-recommendations' %}
</div>

{% section 'values' %}
